{% extends "base.html" %}

{% block title %}gmod server{% endblock %}
{% block desc %}helpful links and such for my private garrys mod server{% endblock %}

{% block background %}gmod.png{% endblock %}

{% block content %}

	<h1>my gmod server</h1>

	<a class="button" href="#">sandbox addons</a>
	<a class="button" href="#">general gamemode addons</a>
	
	<br>

	<a class="button" href="#">ttt maps</a>
	<a class="button" href="#">prophunt maps</a>
	<a class="button" href="#">deathrun maps</a>

	<br><br>

	<p>click here to automatically connect to the server (given its online)</p>
	<a class="button" href="#">steam connect shortcut</a>

{% endblock %}