{% extends "base.html" %}

{% set version = "1.6.1" %}

{% block background %}{% endblock %}
{% block title %}nara pack{% endblock %}
{% block desc %}my custom silly minecraft resource pack{% endblock %}

{% block content %}

	<h1>nara pack [v{{ version }}]</h1>

	<p>my silly little minecraft resource pack</p>

	<a class="button" href="#" target="_blank">go to downloads</a>

	<img src="/static/img/pack/1.jpg" alt="screenshot of the pack in use"/>
	<p><a href="https://is-a.fun">map created by L RMN</a></p>

{% endblock %}